# Supabase
VITE_SUPABASE_URL=https://tzkdlfalvfiettozckxk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_uLpJX5nGeYEqWGbI88HihA_fqQNvklt

# AI
GEMINI_API_KEY=AIzaSyB8t9rsZm-D4N00HVtfCWbfEiOgHI_SLeQ
# Email
MAILERSEND_API_KEY=
MAILERSEND_FROM_EMAIL=

# App
APP_URL=
SHARED_APP_URL=
NODE_ENV=

# Google Maps
VITE_GOOGLE_MAPS_API_KEY=

# PesaPal V3
PESAPAL_CONSUMER_KEY=76tllNU2Fo7UNLCL8XetfcYqf4YuB+Rc
PESAPAL_CONSUMER_SECRET=ZfUjNBpJqiCQBLbzrTg5QkLqmyw=
PESAPAL_MODE=production
PESAPAL_IPN_ID=d968446a-5775-4f89-be6c-da6aecfeef3f
