# Supabase
VITE_SUPABASE_URL=https://tzkdlfalvfiettozckxk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_uLpJX5nGeYEqWGbI88HihA_fqQNvklt

# AI
GEMINI_API_KEY=AIzaSyAq1qC-M8r9vfOvHZax9tdzi8hUQEyMVB0

# Email
MAILERSEND_API_KEY=
MAILERSEND_FROM_EMAIL=

# App
APP_URL=
SHARED_APP_URL=
NODE_ENV=
