# Supabase
VITE_SUPABASE_URL=https://tzkdlfalvfiettozckxk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_uLpJX5nGeYEqWGbI88HihA_fqQNvklt

# AI
GEMINI_API_KEY=AIzaSyAq1qC-M8r9vfOvHZax9tdzi8hUQEyMVB0

# Email
MAILERSEND_API_KEY=
MAILERSEND_FROM_EMAIL=

# App
APP_URL=
SHARED_APP_URL=
NODE_ENV=

# Google Maps
VITE_GOOGLE_MAPS_API_KEY=

# PayPal
PAYPAL_CLIENT_ID=AQshu50qPIZAXCbrgovsWWEZI327UOjZN6A1THr4-2x5z4aEuNL8fkn6InyCGK9MYY7SFGjBo2xTRFUE
PAYPAL_CLIENT_SECRET=EFALuC5EfFSOxQ-SlU1rq2Y7DRduVsriCTqeZso0QzTD9p5WOJds_YZ9kXzkTZyIwP7OpqSjfb8TfkKy
PAYPAL_MODE=live
